{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add BlogPost{% endblock title %} {% block content %}
{% include 'navbar.html' %}
<div class="container w-50 mt-2">
    <h2 class="text-center">Add BlogPost</h2>
    <form method="POST" action='{% url "addpost" %}' enctype="multipart/form-data">
        {% csrf_token %}
       {% comment %} <div class="mb-3">
            {{form.title|as_crispy_field}}

        </div>
       {% endcomment %}
        {{form|crispy}}
    
        


        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>


{% endblock content %}