{% extends 'base.html' %}
{% block title %}Success{% endblock title %}
{% block content %}
{% include 'navbar.html' %}
<div class="container text-center mt-2">
    <h4>Successs</h4>
    <img  src="https://www.citypng.com/public/uploads/preview/-115961489435qsodshd2x.png" width=38% height=26%><br>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}{% endif %}
{% comment %} <a href="{% url 'signin' %}" class="btn btn-primary" style="    margin-top: 12px;
width: 110px;
height: 42px;
">Login</a> {% endcomment %}
</div>
{% endblock content %}